body {
    font-family: Arial, sans-serif;
    background-color: #F8F8F8;
    color: #1A1A1A;
}

.sidebar {
    background-color: #EFEFEF;
}

.sidebar a {
    text-decoration: none;
    color: #1A1A1A;
}

.sidebar a:hover {
    background-color: #DDD;
}

.footer-text {
    color: #666;
}

.caption {
    font-size: 0.6em; 
    color: #333; 
    background-color: rgba(255, 255, 255, 0.6);
}